body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

.content {
    margin: 15px;
}

.patient-info, .doctor-info, .hospitalization-info, .medicines-info, .lab-reports-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.patient-pic {
    text-align: center;
}

.patient-pic img {
    width: 150px;
    height: 1
}